{% if article.metafields["custom_fields"]["header_image"] != blank %}
  <div class="custom-field custom-field__header-image custom-field__type--image">
    <h3 class="custom-field--title">Header image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: article.metafields["custom_fields"]["header_image"], print: 'url' %}
    </div>
  </div>
{% endif %}