{% if page.metafields["custom_fields"]["mobile_hero_image"] != blank %}
  <div class="custom-field custom-field__mobile-hero-image custom-field__type--image">
    <h3 class="custom-field--title">Mobile Hero image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: page.metafields["custom_fields"]["mobile_hero_image"], print: 'url' %}
    </div>
  </div>
{% endif %}