<div class="site-header__burger-wrapper">
      <div class="burger__lines">
          <div class="burger__line"></div>
          <div class="burger__line"></div>
          <div class="burger__line"></div>
      </div>
</div>