<div class="product-size-guide">
    <div data-app="eastsideco_sizeGuides"
         data-shop="{{ shop.permanent_domain }}"
         data-tags="{{ product.tags | join:',' | escape }}"
         data-metafields="{{ product.metafields.esc-size-matters.tag }}"
         data-popup="button">
    </div>
</div>
