<custom-popup class="harper-popup description">
    <h2 class="text">
        <span class="h-popup" id="h-popup">
            {{ settings.product_styling_details }}
        </span>
    </h2>
</custom-popup>