 <p class="lg light">Subtotal (ex. VAT and Shipping): <strong>{{ cart.total_price | money }}</strong></p>
<!-- Zapiet | Store Pickup + Delivery -->
<div id="storePickupApp"></div>
<!-- Zapiet | Store Pickup + Delivery -->
