.hover-trigger:hover .media--transparent {
  opacity: 0;
}

.card-overlay--splider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slider-wrapper:hover .card-overlay--splider {
  opacity: 1;
}

.card-overlay--splider .splide__slide.is-active {
  opacity: 1;
}

.card-overlay--splider .splide__pagination__page.is-active {
  background: #c1857e;
}

.card-overlay--splider .splide__slide a {
  display: block;
  height: 100%;
}

.card-overlay--splider .splide__slide img {
  transform: scale(1);
  transition: transform 0.2s ease;
}

.slider-wrapper:hover .splide__slide.is-active img {
  transform: scale(1.03);
}

.card-overlay--splider .splide__arrow {
  background: #c1857e;
}

.card-overlay--splider .splide__arrow svg {
  fill: #fff;
}

.slider-wrapper:hover .featured-image--new {
  display: none;
}

.card-overlay--splider .splide__pagination {
  bottom: 4.5rem;
}
@media screen and (max-width: 768px) {
  .featured-image--new {
    display: none;
  }
  .splide.card-overlay--splider {
    opacity: 1;
  }
  .card-overlay--splider .splide__pagination__page {
    height: 6px;
    width: 6px;
  }
}
.product-card-wrapper .product-variants__value {
  display: flex;
}

.product-card-wrapper .product-variants__option,
.product-card-wrapper .product-variants {
  width: 100%;
}
.product-variants[data-option-count="1"] {
  right: 0;
  height: 40px;
  bottom: 0px;
}
.card-wrapper {
  position: relative;
  overflow: hidden;
}

.product-variants {
  position: absolute;
  top: unset !important;
  height: 55px;
  background: rgba(255, 255, 255, 0.95);
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.slider-wrapper:hover .product-variants {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.product-variants__option {
  height: 100%;
}
.product-card-wrapper .product-variants__option {
  padding: 0px;
}
.product-variants__values {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.product-card-wrapper .product-variants__value:nth-of-type(n + 2):before {
  content: none;
}
.product-card-wrapper .product-variants__values {
  overflow: hidden;
  padding: 0 45px;
  margin: 0;
  justify-content: space-evenly;
}
.product-variants__values .product-variants__value:hover {
  border: 1px solid #000000ab;
  transition: none;
}
.product-card-wrapper .product-variants__value.variant--out-of-stock:before{
  transform: rotate(-28deg);
  height: .1px;
}
.product-card-wrapper .product-variants__values a {
  border: none;
  height: unset;
  width: unset;
  margin: 0;
  width: 30px;
  color: #330f07;
  font-size: 15px;
}
.product-variants__values::-webkit-scrollbar {
  display: none;
}

.product-variants__option-title {
  display: none;
}
.product-card-wrapper .product-variants {
  background: #fff;
  opacity: .9;
  transition: none;
  -webkit-transition: none;
}

@media (max-width: 749px) {
  .product-variants {
    display: none;
  }
  .card-overlay--splider .splide__pagination {
    bottom: 10px;
  }
  .product-variants__option-title {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
}