@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}

.hover-trigger:hover .media--transparent {
  opacity: 0;
}

.card-overlay--splider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slider-wrapper:hover .card-overlay--splider {
  opacity: 1;
}

.card-overlay--splider .splide__slide.is-active {
  opacity: 1;
}

.card-overlay--splider .splide__pagination__page.is-active {
  background: #c1857e;
}

.card-overlay--splider .splide__slide a {
  display: block;
  height: 100%;
}

.card-overlay--splider .splide__slide img {
  transform: scale(1);
  transition: transform 0.2s ease;
}

.slider-wrapper:hover .splide__slide.is-active img {
  transform: scale(1.03);
}

.card-overlay--splider .splide__arrow {
  background: #c1857e;
}

.card-overlay--splider .splide__arrow svg {
  fill: #fff;
}

.slider-wrapper:hover .featured-image--new {
  display: none;
}

.card-overlay--splider .splide__pagination {
  bottom: 3.5rem;
}
@media screen and (max-width: 768px) {
  .featured-image--new {
    display: none;
  }
  .splide.card-overlay--splider {
    opacity: 1;
  }
  .card-overlay--splider .splide__pagination__page {
    height: 6px;
    width: 6px;
  }
}
.product-card-wrapper .product-variants__value {
  display: flex;
}

.product-card-wrapper .product-variants__option,
.product-card-wrapper .product-variants {
  width: 100%;
}
.product-variants[data-option-count="1"] {
  right: 0;
  height: 30px;
  bottom: 0px;
}
.card-wrapper {
  position: relative;
  overflow: hidden;
}

/* Variant selector styles */
.product-variants {
  position: absolute;
  top: unset !important;
  height: 55px;
  background: rgba(255, 255, 255, 0.95);
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

/* Show variants on hover */
.slider-wrapper:hover .product-variants {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* Variant option styles */
.product-variants__option {
  height: 100%;
}
.product-card-wrapper .product-variants__option {
  padding: 0px;
}
.product-variants__values {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  overflow-x: auto !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.product-card-wrapper .product-variants__value:nth-of-type(n + 2):before {
  content: none !important;
}
.product-card-wrapper .product-variants__values {
  overflow: hidden;
  padding: 0 45px;
  margin: 0;
  justify-content: space-evenly;
}
.product-variants__values .product-variants__value:hover {
  border: none;
}
.product-card-wrapper .product-variants__values a {
  border: none;
  height: unset;
  width: unset;
  margin: 0;
  color: #fff;
  font-size: 11px;
}
.product-variants__values::-webkit-scrollbar {
  display: none;
}

.product-variants__option-title {
  display: none;
}
.product-card-wrapper .product-variants {
  background: #c1857e;
  transition: none;
  -webkit-transition: none;
}
/* Mobile styles */
@media (max-width: 767px) {
  .product-variants {
    display: none;
  }
  .card-overlay--splider .splide__pagination {
    bottom: 10px;
  }
  .product-variants__option-title {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
}
